<div><button id="b1" (click)="abb()">View all character game</button></div>
<div *ngIf="show">
<app-table [nhavats]="nhavats" 
            (trantoUpd)="openTrantoUpdate($event)"
            (upNhanvat)="onUpdate($event)"
            (cancelUp)="cancelUpdate($event)"

            (trantoDel)="openTrantoDelete($event)" 
            (nhanvenId)="onDelete($event)" 
            (cancelDele)="cancelDelete($event)" ></app-table>
            
</div>
<!-- <button routerLink="/game/add">Create</button> -->
<button (click)="createToTransition()" routerLink="/game/add">Create</button>
<button (click)="changeStatus()">{{status}}</button>



