table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f1f1c1;
  }

th, td {
    padding: 15px;
  }
  th {
    text-align: left;
  }
  #id01 tr:nth-child(even) {
    background-color: #eee;
  }
  #id01 tr:nth-child(odd) {
    background-color: #fff;
  }
  #id01 th {
    color: white;
    background-color: black;
  }
  #b1 {
    width: 100%;
  }
  #b2 {
    width: 100%;
  }