<table border="1">
  <tr>
    <th>id</th>
    <th>Ten SV</th>
    <th>Ten NV</th>
    <th>Ten Bang</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of nhavats">
    <td>{{ item._id }}</td>
    <td>
      <input
        *ngIf="editingRow === item._id"
        type="text"
        [(ngModel)]="item.tenServer"
      />
      <span *ngIf="editingRow !== item._id">{{ item.tenServer }}</span>
    </td>
    <td>
      <input
        *ngIf="editingRow === item._id"
        type="text"
        [(ngModel)]="item.tenNhanVat"
      />
      <span *ngIf="editingRow !== item._id">{{ item.tenNhanVat }}</span>
    </td>
    <td>
      <input
        *ngIf="editingRow === item._id"
        type="text"
        [(ngModel)]="item.bang"
      />
      <span *ngIf="editingRow !== item._id">{{ item.bang }}</span>
    </td>
    <td>
      <button
        type="button"
        class="btn btn-primary"
        (click)="openUpdate(item._id)"
        class="btn btn-success"
        [hidden]="!this.isHidden"
      >
        Update
      </button>
      <button [hidden]="this.isHidden" *ngIf="editingRow === item._id" (click)="onUpdate(item)">Okay</button>
      <button [hidden]="this.isHidden" *ngIf="editingRow === item._id" (click)="cancelUpdate(item._id)">
        Cancel
      </button>

      <button  [hidden]="!this.isHidden" class="btn btn-success" (click)="openModal(deleteModal)">
        Delete
      </button>
      <ng-template #deleteModal>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Modal Delete</h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn Xóa ???
          <button (click)="onDelete(item._id)">ok</button>
          <!-- <button (click)="modalRef.hide()">cancel</button> -->
          <button (click)="cancelDelete()">cancel</button>
        </div>
      </ng-template>
    </td>
  </tr>
</table>
