<form (submit)="add()" [formGroup]="formNV">
  <div>
    <label>Tên SV</label>
    <input formControlName="tenServer" required/>
  </div>
  <div>
    <label>Tên NV</label>
    <input formControlName="tenNhanVat" required/>
  </div>
  <div>
    <label>Tên Bang</label>
    <input formControlName="bang" required/>
  </div>
  <button type="submit" [disabled]="formNV.invalid">Save</button>
  <button type="submit" (click)="cancelCreate()">Cancel</button>
</form>
